@page "/categorias"
@using EDH.Shared.Modelos;
@using EDH.Shared.Modelos;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using EDH.Shared
@attribute [Authorize]
@inject HttpClient Http


<h3>Categorias</h3>

@if (categorias == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Color</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in categorias)
            {
                <tr>
                    <td>@categoria.Nombre</td>
                    <td>@categoria.Color</td>
                    <div class="d-grid gap-2 d-md-block">
                        <td><button class="btn btn-success"><i class="bi bi-pencil-square"></i></button></td>
                        <td><button class="btn btn-danger"><i class="bi bi-trash3"></i></button></td>
                    </div>
                </tr>

            }
        </tbody>
    </table>
}


<p>Completa los campos para agregar una nueva categoria</p>

<div class="row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre de la Categoria">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Color" aria-label="Color">
    </div>
</div>

<button type="button" class="btn btn-outline-primary">Agregar</button>



@code {

    private Categoria[]? categorias;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categorias = await Http.GetFromJsonAsync<Categoria[]>("Categorias");

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }


    }


}
